@font-face {
    font-family: "monaco";
    src: url("/fonts/monaco.eot"); /* IE9 */
    src: url("/fonts/monaco.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/monaco.woff") format("woff"), /* chrome, firefox */
    url("/fonts/monaco.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("/fonts/monaco.svg#monaco") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}
body {
    font-family: "lucida grande"
}
.string {
	font-family: "menlo"
}
.line {
	font-family: "menlo"
}

code {
    font-family: "menlo"
}

